  footer  {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .footer__container {
    bottom: 0;
    padding: 16px 0;
    margin-bottom: 8px;
    height: 200px;
  }

  .footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
 
  .footer__logo--img {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
  }

  .footer__links {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
}

.footer__links {
    margin-top: 1px;
}

.footer__title, .footer__link, .footer__copyright {
    text-decoration: none;
    margin-top: 20px;
    color: #ffff;
}
